<main>
	<div class="container">
		<div class="text-left">
			<h1>{{heading}}</h1>
			<p class="lead">To search for products you can either select a product group or enter the product name.</p>
		</div>
		<div class="row">
			<div class="col-md-6">
				<select class="form-control" id="productSelect">
					<!-- This imports the product groups from home.js -->
						<option id="defaultOption">Please Select a Customer</option>
							{{#each customer}}
						<option>{{customer}}</option>
					{{/each}}
				</select>
			</div>
		</div> 
		<div class="container" id="productTable"  style="display: none">
			<table class="table table-striped">
	<thead>
		<tr>
			<th>Image</th><th>Product Name</th><th>Price</th><th>Description</th><th>Add to Cart</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>...</td><td>...</td><td>...</td><td><button class="btn btn-primary" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success">Add to Cart</button></td>
	</tr>
	<tr>
		<td>...</td><td>...</td><td>...</td><td><button class="btn btn-primary" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success">Add to Cart</button></td>
	</tr>
	<tr>
		<td>...</td><td>...</td><td>...</td><td><button class="btn btn-primary" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success">Add to Cart</button></td>
	</tr>
	<tr>
		<td>...</td><td>...</td><td>...</td><td><button class="btn btn-primary" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success">Add to Cart</button></td>
	</tr>
	<tr>
		<td>...</td><td>...</td><td>...</td><td><button class="btn btn-primary" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success">Add to Cart</button></td>
	</tr>
	<tr>
		<td>...</td><td>...</td><td>...</td><td><button class="btn btn-primary" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success">Add to Cart</button></td>
	</tr>
	<tr>
		<td>...</td><td>...</td><td>...</td><td><button class="btn btn-primary" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success">Add to Cart</button></td>
	</tr>
	<tr>
		<td>...</td><td>...</td><td>...</td><td><button class="btn btn-primary" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success">Add to Cart</button></td>
	</tr>
	<tr>
		<td>...</td><td>...</td><td>...</td><td><button class="btn btn-primary" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success">Add to Cart</button></td>
	</tr>
	<tr>
		<td>...</td><td>...</td><td>...</td><td><button class="btn btn-primary" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success">Add to Cart</button></td>
	</tr>
</tbody>
</table>
		</div>
	</div><!-- /.container -->
</main>