<main>
	<div class="container">
		<div class="text-left">
			<h1 class="">Thank you for your Order!</h1>
			<p class="lead">Your order will arrive within 5 business days.</p>
			<p class="lead">You have been logged out of the shopping cart. If you want to place another order, you will have to log in.</p>
		</div>
	</div><!-- /.container -->
</main>