			<table class="table table-striped">
				<thead>
					<tr>
						<th>Image</th><th>Product Name</th><th>Price</th><th>Amount</th><th>Description</th><th>Update</th>
					</tr>
				</thead>
			<tbody>
				<tr>
					<td>...</td><td>...</td><td>...</td><td><input type="text" class="form-control"/></td><td><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success" type="button">Update</button></td>
				</tr>
				<!-- <tr>
					<td>...</td><td>...</td><td>...</td><td><input type="text" class="form-control"/></td><td><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success" type="button">Update</button></td>
				</tr><tr>
					<td>...</td><td>...</td><td>...</td><td><input type="text" class="form-control"/></td><td><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success" type="button">Update</button></td>
				</tr><tr>
					<td>...</td><td>...</td><td>...</td><td><input type="text" class="form-control"/></td><td><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success" type="button">Update</button></td>
				</tr><tr>
					<td>...</td><td>...</td><td>...</td><td><input type="text" class="form-control"/></td><td><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success" type="button">Update</button></td>
				</tr><tr>
					<td>...</td><td>...</td><td>...</td><td><input type="text" class="form-control"/></td><td><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#productDescription">Description</button></td><td><button class="btn btn-success" type="button">Update</button></td>
				</tr> -->
			</tbody>
			</table>