<h2>Page Not Found</h2>

<main>
	<pre>
 ____________________
|' ' ' ' ' ' ' ' ' '|
| ----------------- |
||     HAL | 9000  ||
| ----------------- |
|`   `   `   `   `  |
|  '   '   '   '   '|   
|`   `   `   `   `  |  
|  '   '   '   '   '|        
|`   `   `   `   `  |   "I'm sorry, Dave. I'm afraid I can't do that."
|  '   '   '   '   '|   
|`   `   `   `   `  |   
|  '   '   '   '   '|   
|`   `   `   `   `  |   
|  '  . o o o .  '  |	{{text}}
|'   o ',* *,' o   '| 	
|`  o * ,- -, * o  `| 	
|' o * :     ; * o '|
|` o * .  `  . * o `|
|'  o *,`- -',* o  '| 
|`   o .'* *'. o   `|
|'    '.o o o.'    '|
|`' ' ' ' ' '  ' ' `|
|-------------------|
|:::::::::::::::::::|
|:::::::::::::::::::|
|:::::::::::::::::::|
|:::::::::::::::::::|
|:::::::::::::::::::|
|:::::::::::::::::::|
|:::::::::::::::::::|
|:::::::::::::::::::|
---------------------

</pre>
	
</main>