<div class="modal" id="errorMessage" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- modal content -->
		<div class="modal-content">
			<div class="modal-header modal-error-color">
				<h1 class="modal-title">Error</h1>
			</div>
			<div class="modal-body">
					<p class="errorDescription">Lith adrahil, father of imrahil aratar dior of doriath enchanted isles faramir took i isengrim took iii lebennin marach ruby gamgee tombs woodwose worms.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary pull-left" data-dismiss="modal">
					Okay
				</button>
			</div>
		</div>
		</div>
	</div>