<div class="modal" id="successMessage" role="dialog">
	<div class="modal-dialog modal-sm">
		<!-- modal content -->
		<div class="modal-content">
			<div class="modal-header modal-success-color">
				<h1 class="modal-title"></h1>
			</div>
			<div class="modal-body">
					<p class="errorDescription"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary pull-left">
					Okay
				</button>
			</div>
		</div>
		</div>
	</div>