<div class="modal" id="productDescription" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- modal content -->
		<div class="modal-content">
			<div class="modal-header modal-primary-color">
				<h1 class="modal-title">Description</h1>
			</div>
			<div class="modal-body">
				<div class="col-md-4 col-sm-6 col-xs-6">
					{{!>productImage this}}
					<img id="modalImage" width="266px" src="https://upload.wikimedia.org/wikipedia/en/f/f9/TheAvengers2012Poster.jpg" alt="" />	
				</div>
				<div class="col-md-8 col-sm-6 col-xs-6">
					<h2 class="productName">Avengers</h2>
					<h3 class="productPrice">Price $18.95</h3>
					<p class="productDescription">Adurant amanyar arador aravir dwimorberg fangorn guards of the citadel halfling haunted mountain iarwain ben-adar king of nargothrond lebethron men men of dale shadow of morgoth troll-men uffo boffin wild.</p>
				</div>
								

			</div>
			<div class="modal-footer">
				<button type="button" id="closeModal" class="btn btn-primary pull-left">
					Okay
				</button>
			</div>
		</div>
	</div>
</div>